doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand Timesheets
        ul.nav.navbar-nav(role="navigation")
          li
            a(href="/clients") Clients
          li
            a(href="/projects") Projects
    .container
      block content
